body {
    font-size: 24px;
    color: deeppink;
    background-color: aqua;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    color: deeppink;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

p {
    font-size: 24px;
    font-weight: bold;
    color:fuchsia;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.hidden {
    display: none;
}
